@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    min-height: 100%;
}

body {
    background-color: #E0E3F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    color: whitesmoke;
}

svg {
background-color: hsl(169, 34%, 49%);
}

#canvas {
    min-height: 600px;
    min-width: 1200px;
}

.cell:hover {
fill: rgb(15, 37, 50);
}

#tooltip {
  visibility: hidden;
  height: auto;
  width: auto;
  color:#d4d40a;
}